* {
    border: none;
    border-radius: 0;
    font-family: "DejaVuSans", "Font Awesome 6 Free", sans-serif;
    font-size: 13px;
    min-height: 25px;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces,
#mpris,
#pulseaudio,
#wireplumber,
#idle_inhibitor,
#backlight,
#network,
#tags,
#mode,
#clock,
#battery,
#tray {
    padding: 0 10px;
    color: #ffffff;
    margin-right: 5px;
    background-color: #64727D;
}

/* If tags is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces,
.modules-left > widget:first-child > #tags {
    padding-left: 0;
    margin-left: 0;
}

/* If tags is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces,
.modules-right > widget:last-child > #tags {
    padding-right: 0;
    margin-right: 0;
}

#mpris {
    background-color: transparent;
}

#workspaces,
#tags {
    background-color: transparent;
}

#workspaces button,
#tags button {
    padding: 0 5px;
    background-color: transparent;
    /* hide through bad contrast */
    color: #000000;
}
#workspaces button {
    /* overwrite river tags bad contrast hiding */
    color: #ffffff;
}

#workspaces button.visible,
#tags button.occupied {
    color: #ffffff;
}

#workspaces button:hover,
#tags button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,
#workspaces button.active,
#tags button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent,
#tags button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}


#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
